@model AzureConstructionsProgressTracker.Features.ProgressTracking.ProgressTrackingEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProgressTrackingEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionProject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureReference)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
